.contactlist-card {
    .contact-header-image {
        background-size: cover;
      }
    
      .action-buttons{
        margin: auto;
        button {
            margin-right: 10px;
            a{
              color: #fff;
            }
        }
      }
  }
  
  
